* {
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(music.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
    user-select: none;
    -moz-user-select: none;
}

.navbar{
    float: right;
    position: relative;
}

.navbar ul{
    margin: 15px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar ul li{
    margin: 0px 15px;
    text-decoration: none;
    list-style: none;
}

.navbar ul li a{
    font-family: cursive;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.note{
    font-weight: bold;
    font-size: 50px;
    padding: 30px 0px 0px 30px;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
}

.play-btn{
    background: transparent;
    float: right;
    margin-right: 12%;
    display: flex;
}
.play-btn p{
    color: white;
    font-size: 17px;
    font-family: cursive;
    margin-right: 10px;
}
#icon{
    width: 60px;
    cursor: pointer;
}